OVERSHOOT_API_KEY=
# Optional override
# OVERSHOOT_API_URL=
# OVERSHOOT_PROMPT=Describe what you see
# OVERSHOOT_MODEL=Qwen/Qwen3-VL-30B-A3B-Instruct
# OVERSHOOT_PROCESSING_TARGET_FPS=6
# OVERSHOOT_PROCESSING_CLIP_LENGTH_SECONDS=0.5
# OVERSHOOT_PROCESSING_DELAY_SECONDS=0.5
